<div class="engagement-calendar-container"></div>
<div class="flex items-center gap-3 justify-center text-xs mt-2">
    <span class="flex items-center gap-1">
        <span>Less</span>
        <span class="inline-block w-[18px] h-3 bg-primary-light-blue rounded"></span>
    </span>
    <span class="flex items-center gap-1">
        <span class="inline-block w-[18px] h-3 bg-secondary-light-blue rounded"></span>
    </span>
    <span class="flex items-center gap-1">
        <span class="inline-block w-[18px] h-3 bg-primary-blue rounded"></span>
    </span>
    <span class="flex items-center gap-1">
        <span class="inline-block w-[18px] h-3 bg-primary-red rounded"></span>
        <span>More</span>
    </span>
</div>