<div *ngIf="fullscreen; else normalLayout"
    class="w-full h-screen flex items-center justify-center bg-primary-white relative">
    <button (click)="toggleFullscreen()"
        class="absolute top-4 right-4 z-50 cursor-pointer text-primary-blue bg-primary-light-blue hover:text-white px-4 py-2 rounded shadow hover:bg-primary-blue transition-colors flex items-center gap-2">
        <ng-icon [svg]="icons.heroArrowsPointingIn" />
        <p class="ml-2">Exit Fullscreen</p>
    </button>
    <div class="w-full h-full flex items-center justify-center">
        <router-outlet />
    </div>
</div>
<ng-template #normalLayout>
    <div class="bg-primary-white">
        <div *ngIf="loading" class="absolute right-1/2 bottom-1/2">
            <svg aria-hidden="true" class="inline w-14 h-14 text-primary-light-blue animate-spin fill-primary-blue"
                viewBox="0 0 100 101" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path
                    d="M100 50.5908C100 78.2051 77.6142 100.591 50 100.591C22.3858 100.591 0 78.2051 0 50.5908C0 22.9766 22.3858 0.59082 50 0.59082C77.6142 0.59082 100 22.9766 100 50.5908ZM9.08144 50.5908C9.08144 73.1895 27.4013 91.5094 50 91.5094C72.5987 91.5094 90.9186 73.1895 90.9186 50.5908C90.9186 27.9921 72.5987 9.67226 50 9.67226C27.4013 9.67226 9.08144 27.9921 9.08144 50.5908Z"
                    fill="currentColor" />
                <path
                    d="M93.9676 39.0409C96.393 38.4038 97.8624 35.9116 97.0079 33.5539C95.2932 28.8227 92.871 24.3692 89.8167 20.348C85.8452 15.1192 80.8826 10.7238 75.2124 7.41289C69.5422 4.10194 63.2754 1.94025 56.7698 1.05124C51.7666 0.367541 46.6976 0.446843 41.7345 1.27873C39.2613 1.69328 37.813 4.19778 38.4501 6.62326C39.0873 9.04874 41.5694 10.4717 44.0505 10.1071C47.8511 9.54855 51.7191 9.52689 55.5402 10.0491C60.8642 10.7766 65.9928 12.5457 70.6331 15.2552C75.2735 17.9648 79.3347 21.5619 82.5849 25.841C84.9175 28.9121 86.7997 32.2913 88.1811 35.8758C89.083 38.2158 91.5421 39.6781 93.9676 39.0409Z"
                    fill="currentFill" />
            </svg>
            <p class="sr-only">Loading...</p>
        </div>
        <div *ngIf="!loading" class="flex h-screen bg-primary-white">
            <div class="bg-white overflow-y-auto text-primary-white h-screen fixed shadow-md"
                [ngClass]="sidebarVisible ? 'w-64 delay-100 duration-300 ease-out' : 'w-20 delay-100 duration-300 ease-out'">
                <a href="https://workplacevitalityhub.nl/" target="_blank">
                    <div class="relative h-20">
                        <img src="wvh_logo_large.jpg" class="h-20 absolute transition-all transform duration-100"
                            [ngClass]="{'opacity-100 ml-[46px]': textVisible, 'opacity-0 ml-0': !textVisible}">

                        <img src="wvh_logo.jpg" class="h-20 absolute transition-all transform duration-100" [ngClass]="{
                                'opacity-100 ml-0': !textVisible, 
                                'opacity-0 ml-[46px]': textVisible, 
                            }">
                    </div>
                </a>
                <div class="p-4">
                    <button *ngFor="let item of navItems" [routerLink]="item.path"
                        [ngClass]="item.path === getRoute() ? 'bg-primary-light-blue' : 'bg-transparent'"
                        class="cursor-pointer transition-colors duration-300 transform hover:bg-primary-light-blue rounded-md text-primary-blue w-full h-12 mb-2">
                        <div class="py-1 ml-3 flex align-middle">
                            <ng-icon [svg]="item.icon" />
                            <p *ngIf="textVisible" class="ml-4">{{item.name}}</p>
                        </div>
                    </button>
                </div>
                <!-- <div class="absolute bottom-0 w-full p-4">
                    <button [routerLink]="'/docs'"
                        [ngClass]="'/docs' === getRoute() ? 'bg-primary-light-blue' : 'bg-transparent'"
                        class="cursor-pointer transition-colors duration-300 transform hover:bg-primary-light-blue rounded-md text-primary-blue w-full h-12 mb-2">
                        <div class="py-1 ml-3 flex align-middle">
                            <ng-icon [svg]="icons.heroDocumentText" />
                            <p *ngIf="textVisible" class="ml-4">API Docs</p>
                        </div>
                    </button>
                </div> -->
            </div>
            <div class="flex-1"
                [ngClass]="sidebarVisible ? 'ml-64 delay-100 duration-300 ease-out' : 'ml-20 delay-100 duration-300 ease-out'">
                <div
                    class="bg-white h-16 flex sticky top-0 px-4 text-primary-blue justify-between align-middle shadow-md z-10">
                    <button
                        class="cursor-pointer my-2 p-2 transition-colors duration-300 transform hover:bg-primary-light-blue rounded-md"
                        (click)="toggleSidebar()">
                        <div class="py-1 flex align-middle">
                            <ng-icon [svg]="icons.heroBars3" />
                            <p class="ml-2">Menu</p>
                        </div>
                    </button>
                    <div class="flex items-center gap-4">
                        <!-- Office Dropdown -->
                        <div class="relative">
                            <div *ngIf="offices.length > 0">
                                <div class="max-h-56 overflow-y-auto">
                                    <select
                                        class="block appearance-none w-full bg-white border border-primary-blue text-primary-blue py-2 px-4 pr-8 rounded leading-tight focus:outline-none focus:border-primary-blue font-semibold min-w-[140px]"
                                        [(ngModel)]="selectedOfficeId" (change)="onOfficeChange($event)">
                                        <option *ngFor="let office of offices" [value]="office.id">{{ office.name }}
                                        </option>
                                    </select>
                                </div>
                                <span class="absolute inset-y-0 right-0 flex items-center px-2 pointer-events-none">
                                    <ng-icon [svg]="icons.heroChevronDown" class="w-4 h-4 text-primary-blue" />
                                </span>
                            </div>
                            <div *ngIf="offices.length === 0"
                                class="text-primary-blue border-primary-blue border rounded py-2 px-4">
                                <p>No offices available</p>
                            </div>
                        </div>
                        <!-- Profile Dropdown -->
                        <div class="inline-block mr-2">
                            <a href="#"
                                class="cursor-pointer flex px-4 py-3 -mb-2 -mt-2 text-primary-blue rounded-md transition-colors duration-300 transform hover:bg-primary-light-blue"
                                (click)="onClickLogout()">
                                <ng-icon [svg]="icons.heroArrowLeftStartOnRectangle" />
                                <p class="ml-2">Logout</p>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="p-4 relative">
                    <button *ngIf="showFullscreenButton && !fullscreen" (click)="toggleFullscreen()"
                        class="absolute top-4 right-4 z-50 cursor-pointer text-primary-blue bg-primary-light-blue hover:text-white px-4 py-2 rounded shadow hover:bg-primary-blue transition-colors flex items-center gap-2">
                        <ng-icon [svg]="icons.heroArrowsPointingOut" />
                        <p class="ml-2">Enter Fullscreen</p>
                    </button>
                    <router-outlet />
                    <lib-toastify-toast-container [newestOnTop]="true" [closeOnClick]="false"
                        [iconLibrary]="'material'"></lib-toastify-toast-container>
                </div>
            </div>
        </div>
    </div>
</ng-template>